= form_for log, multipart: true do |f|
  -if log.errors.any?
    #error_explanation
      %h2= "#{pluralize(log.errors.count, "error")} prohibited this log from being saved:"
      %ul
        - log.errors.full_messages.each do |msg|
          %li= msg

  .main
    .field
      = f.label :opened_on
      = f.datetime_select :opened_on
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :assigned_to_id
      = f.select :assigned_to_id, Employee.options_with_id, include_blank: true
    .field
      = f.label :bound
      = f.select :bound, Log::BOUND_OPTIONS
    .field
      = f.label :company_id
      = f.select :company_id, Company.options_with_id, include_blank: true
    .field
      = f.label :store_number
      = f.text_field :store_number
    .field
      = f.label :reason_code_id
      = f.select :reason_code_id, ReasonCode.options_with_id, include_blank: true
    .field
      = f.label :additional_reason_code_id
      = f.select :additional_reason_code_id, ReasonCode.options_with_id, include_blank: true
    .field
      = f.label :product_id
      = f.select :product_id, Product.options_with_id, include_blank: true
    .field
      = f.label :escalated
      = f.select :escalated, [['Yes', 1],['No', 0]]
    .field
      = f.label :escalated_to_id
      = f.select :escalated_to_id, EscalationType.options_with_id, include_blank: true
    .field
      = f.label :duration_id
      = f.select :duration_id, Duration.options_with_id, include_blank: true
    .field
      = f.label :order_rma
      = f.text_field :order_rma
  .side
    #accordion
      %h3
        %a Notes
      %div 
        = f.text_area :notes
      %h3
        %a Attachment
      %div
        = f.file_field :attachment
        = f.hidden_field :attachment_cache
        %br

        -if log.attachment
          =link_to log.attachment_identifier, log.attachment.url
      %h3
        %a Related Calls
      %div
        =link_to "Add a Related Call", '#add_related_call', id: 'open_related_calls_dialog'
        %ul#related_calls

        %table
          %thead
  .actions
    = f.submit 'Save'
#add_related_calls
  =form_tag '/log_search', method: 'put', remote: true, id: 'log_search' do |f|
    %table
      %thead
        %tr
          %td Title has:
          %td Company has:
          %td
        %tr
          %td= text_field_tag 'log[title_like]'
          %td= text_field_tag 'log[company_like]'
          %td= submit_tag 'Search', id: 'search_button'
      %tbody
        %tr
          %td
      %tfoot
        %tr
          %td(colspan=2) &nbsp;
