%h1 Listing logs

=paginate logs
%table
  %thead
    %tr
      %th Logged at
      %th Title
      %th
      %th
  %tbody
    - logs.each do |logg|
      %tr
        %td= logg.opened_on
        %td= logg.title
        %td= link_to 'Edit', edit_log_url(logg)
        %td= link_to 'Destroy', logg, :confirm => 'Are you sure?', :method => :delete, :id => "destroy_log_#{logg.id}"

=paginate logs
%br

= link_to 'New Log', new_log_url
