%h1 Listing logs

%table
  %tr
    %th Subject
    %th
    %th
    %th

  - logs.each do |logg|
    %tr
      %td= logg.subject
      %td= link_to 'Show', logg
      %td= link_to 'Edit', edit_log_path(logg)
      %td= link_to 'Destroy', logg, :confirm => 'Are you sure?', :method => :delete, :id => "destroy_log_#{logg.id}"

%br

= link_to 'New Log', new_log_path
