%h1 Listing logs

=paginate logs
%table
  %thead
    %tr
      %th Logged at
      %th Subject
      %th Client
      %th Product
      %th
      %th
  %tbody
    - logs.each do |logg|
      %tr
        %td= logg.logged_at
        %td= logg.subject
        %td= logg.client_name
        %td= logg.product_name
        %td= link_to 'Edit', edit_log_url(logg)
        %td= link_to 'Destroy', logg, :confirm => 'Are you sure?', :method => :delete, :id => "destroy_log_#{logg.id}"

=paginate logs
%br

= link_to 'New Log', new_log_url
